header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

.logo {
    margin-left: 3rem;
    width: 10rem;
}